#div1 {
     position: fixed;
     top: 1px;
     left: 10px;
     width: 366px;
     height: 285px;
     background:white;
     border: 3px solid black;
}
#div2 {
    position: fixed;
    top: 4px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div3 {
    position: fixed;
    top: 4px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div4 {
    position: fixed;
    top: 4px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div5 {
    position: fixed;
    top: 4px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div6 {
    position: fixed;
    top: 4px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div7 {
    position: fixed;
    top: 4px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div8 {
    position: fixed;
    top: 4px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div9 {
    position: fixed;
    top: 4px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div10 {
    position: fixed;
    top: 4px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div11 {
    position: fixed;
    top: 44px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div12 {
    position: fixed;
    top: 44px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div13 {
    position: fixed;
    top: 44px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div14 {
    position: fixed;
    top: 44px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div15 {
    position: fixed;
    top: 44px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div16 {
    position: fixed;
    top: 44px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div17 {
    position: fixed;
    top: 44px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div18 {
    position: fixed;
    top: 44px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div19 {
    position: fixed;
    top: 44px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div20 {
    position: fixed;
    top: 84px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div21 {
    position: fixed;
    top: 84px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div22 {
    position: fixed;
    top: 84px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div23 {
    position: fixed;
    top: 84px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div24 {
    position: fixed;
    top: 84px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div25 {
    position: fixed;
    top: 84px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div26 {
    position: fixed;
    top: 84px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div27 {
    position: fixed;
    top: 84px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div28 {
    position: fixed;
    top: 84px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div29 {
    position: fixed;
    top: 124px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div30 {
    position: fixed;
    top: 124px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div31 {
    position: fixed;
    top: 124px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div32 {
    position: fixed;
    top: 124px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div33 {
    position: fixed;
    top: 124px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div34 {
    position: fixed;
    top: 124px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div35 {
    position: fixed;
    top: 124px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div36 {
    position: fixed;
    top: 124px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div37 {
    position: fixed;
    top: 124px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div38 {
    position: fixed;
    top: 164px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div39 {
    position: fixed;
    top: 164px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div40 {
    position: fixed;
    top: 164px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div41 {
    position: fixed;
    top: 164px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div42 {
    position: fixed;
    top: 164px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div43 {
    position: fixed;
    top: 164px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div44 {
    position: fixed;
    top: 164px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div45 {
    position: fixed;
    top: 164px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div46 {
    position: fixed;
    top: 164px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div47 {
    position: fixed;
    top: 204px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div48 {
    position: fixed;
    top: 204px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div49 {
    position: fixed;
    top: 204px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div50 {
    position: fixed;
    top: 204px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div51 {
    position: fixed;
    top: 204px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div52 {
    position: fixed;
    top: 204px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div53 {
    position: fixed;
    top: 204px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div54 {
    position: fixed;
    top: 204px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div55 {
    position: fixed;
    top: 204px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div56 {
    position: fixed;
    top: 244px;
    left: 13px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div57 {
    position: fixed;
    top: 244px;
    left: 55px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div58 {
    position: fixed;
    top: 244px;
    left: 95px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div59 {
    position: fixed;
    top: 244px;
    left: 135px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div60 {
    position: fixed;
    top: 244px;
    left: 175px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div61 {
    position: fixed;
    top: 244px;
    left: 215px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}
#div62 {
    position: fixed;
    top: 244px;
    left: 255px;
    width: 40px;
    height: 40px;
    background:orange;
    border: 2px solid white;
}
#div63 {
    position: fixed;
    top: 244px;
    left: 295px;
    width: 40px;
    height: 40px;
    background:tan;
    border: 2px solid white;
}
#div64 {
    position: fixed;
    top: 244px;
    left: 335px;
    width: 40px;
    height: 40px;
    background:rgb(255, 72, 0);
    border: 2px solid white;
}